# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-start.log

# Native
.kotlin/
.gradle-local/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# Firebase Extension secrets
extensions/*.env

# typescript
*.tsbuildinfo
GoogleService-Info.plist
google-services.json
serviceAccountKey.json
!android/app/google-services.json
!google-services.json

# docs and scratch files
*.md
fix.js

app-example
